<div class="content" role="main">
    <div>
      <h2>The global view</h2>
      <div class="bar"></div>
      <p>as of {{ corona.lastUpdate }} by University of ...</p>
      <div class="cases">
          <div class="wordlCase" id="confirmed" >
            <div class="wordlCaseDetails">
              <img src="../assets/img/confimed.svg" alt="sick person">
              <div>
                  <p>Confirmed </p>
                  {{ corona.confirmed.value | json }}
              </div>
            </div>
            <hr>
            <p>Last update: {{ corona.lastUpdate }} </p>
            </div>
        
            <div id="deaths" class="wordlCase">
                <div class="wordlCaseDetails">
                    <img src="../assets/img/deaths.svg" alt="died person">
                    <div>
                        <p>Deaths </p>
                        {{ corona.deaths.value | json }} <small>({{ (corona.deaths.value / corona.confirmed.value * 100).toFixed(2) }}%)</small> 
                    </div>
                </div>           
              <hr>
              <p>Last update: {{ corona.lastUpdate }} </p>
            </div>
            <div id="recovered" class="wordlCase">
                <div class="wordlCaseDetails">
                    <img src="../assets/img/recovered.svg" alt="recovered person">
                    <div>
                        <p>Recovered </p>
                        {{ corona.recovered.value  }}
                    </div>
                </div>  
              
              <hr>
              <p>Last update: {{ corona.lastUpdate }} </p>
            </div>
      </div>
      
    </div>
  
  </div>