<div class="content" role="main">
  <header>
    <h2>The global situation </h2>
    <p>Last updated at {{ corona.lastUpdate | date: 'medium' }}</p>
  </header>

  <div class="cases">
    <!-- Confirmed cases -->
      <div class="caseInfo" id="confirmed" >
        <div class="caseInfo_number">
            <span class="this-number">{{ corona.confirmed.value | number:'2.'  }}</span>
        </div>
        <hr>
        <div class="caseInfo_name">
          <h3>Confirmed</h3> 
        </div>
        </div>
      <!-- Number of death -->
        <div id="deaths" class="caseInfo">
            <div class="caseInfo_number">
                <span class="this-number">{{ corona.deaths.value  | number:'2.' }} </span>
                <small>({{ (corona.deaths.value / corona.confirmed.value * 100).toFixed(2) }}%)</small> 
            </div>           
          <hr>
          <div class="caseInfo_name">
              <h3>Deaths</h3>
            </div>
        </div>
          <!-- Recovered cases -->
        <div id="recovered" class="caseInfo">
            <div class="caseInfo_number">
                <span class="this-number">{{ corona.recovered.value | number:'2.' }} </span>
                <small>({{ (corona.recovered.value / corona.confirmed.value * 100).toFixed(2) }}%)</small> 
            </div>  
          <hr>
          <div class="caseInfo_name">
              <h3>Recovered</h3> 
            </div>
        </div>
  </div>
  </div>
