.header-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-title img {
    width: 5em;
    height: 5em;
    margin-right: -1em;
   
}

.header-title h1 {
    color: #fff;
    padding: 1em;
    border-radius: .2em;
}       


@media screen and (min-width: 200px) and (max-width: 640px) {
    
}