<div class="content" role="main">
    <header>
        <h2>Situation by country </h2>
        <!-- <p>Last updated at {{ country.lastUpdate | date: 'medium' }}</p> -->
      </header>
    
      <div class="cases" >
          <div class="wordlCase" id="confirmed" >
            <h3>Confirmed</h3>
            <div class="wordlCaseDetails" *ngFor="let country of countryInfo">
              <div>
                {{ country.confirmed }} - {{ country.countryRegion }} <hr> <br>
              </div>
            </div>            
          </div>

          <!-- Deaths situation -->
          <div class="wordlCase" id="deaths">
              <h3>Deaths</h3>
              <div class="wordlCaseDetails" *ngFor="let country of countryInfo">
                <div>
                  {{ country.deaths }} - {{ country.countryRegion }} <hr> <br>
                </div>
              </div>            
            </div>

            <!-- Recovered situation -->
          <div class="wordlCase" id="recovered">
              <h3>Recovered</h3>
              <div 
                class="wordlCaseDetails" 
                *ngFor="let country of CountryInfoRecovered"
              >
                <div>
                  {{ country.recovered }} - {{ country.countryRegion }} <hr> <br>
                </div>
              </div>            
            </div>
      </div>
  </div>