/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Gotu&display=swap');

body {
  box-sizing: border-box;
  background: rgb(245, 220, 220);
  font-family: 'Gotu', sans-serif;  
}

/* Shared style for world and countries */
header {
  color: #fff;
  background-color: #130F41;
  transform: rotate(-2deg);
  padding: .1em 1em;
  width: 20em;
  text-align: center;
  margin: auto;
}

